<div class="restaurant">
  <p id="notice"><%= notice %></p>

  <h3><%= @restaurant.name %></h3>

  <p>
    <%= @restaurant.description %>
  </p>

  <p>
    <%= render :partial => "/shared/rating", :locals => { :object => @restaurant } %>
  </p>
</div>

<h4>Comentarios:</h4>
<%= render :partial => "comments/comment", :collection => @restaurant.comments %>

<h4>Agregar comentario:</h4>
<%= render :partial => "comments/form", :locals => { :restaurant => @restaurant } %>

<%= link_to 'Editar', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Atras', restaurants_path %>
